<div class="password-footer">
  <div class="container">
    <div class="password-page_copyright">{{ 'sections.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}. {{ 'sections.footer.reserved' | t }}</div>
  </div>
</div>
{% schema %}
{
  "name": "Password footer"
}
{% endschema %}
